language: php

matrix:
  include:
    - php: 5.3
      dist: precise

php:
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - 7.1
    - 7.2

before_script:
    - curl -s https://getcomposer.org/installer | php
    - $(which php) composer.phar install
    - git --version
    - git config --global user.email "test@travis-ci.org"
    - git config --global user.name "Travis"
    - git --version

script:
    - vendor/bin/phpunit --coverage-clover=coverage.clover

after_success:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
