language: php

php:
  - 5.3
  - 5.4
  - 5.5

matrix:
  allow_failures:
    - php: 5.5

branches:
  only:
    - master
    - develop

before_script:
  - curl -s https://getcomposer.org/installer | php
  - php composer.phar --dev install
  - git config --global user.email "test@travis-ci.org"
  - git config --global user.name "Travis"

script:
  - vendor/bin/phpunit --coverage-clover "clover"

after_success:
  - curl -sL https://bit.ly/artifact-uploader | php
  
