parameters:
	level: 6
	paths:
		- src
		# - tests

	# things we disable for the moment, but one day...
	inferPrivatePropertyTypeFromConstructor: true
	ignoreErrors:
		-
			message: '#Unsafe usage of new static\(\).#'
			path: %currentWorkingDirectory%
		-
			identifier: missingType.iterableValue
		-
			identifier: missingType.generics

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
