name: Static Tests

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  static_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 7.3
          coverage: none # disable xdebug, pcov
      - run: composer install --no-progress --ansi
      - run: ./vendor/bin/phpstan analyse -c phpstan.neon
